<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Platform Suite" parallel="methods" thread-count="5">
	<listeners>
		<listener class-name="com.listener.TestNGListener" />
		<listener class-name="com.listener.AnnotationTransformer" />
	</listeners>
	<test name="Platform Sign Up">
		<classes>
			<!-- <class name="com.test.testcases.Test_SignUpCAI" /> -->
			<class name="com.test.testcases.PlatformSignUpTest" />
			<!-- <class name="com.test.testcases.Test_GoogleSearch_TestNG2"> <methods> 
				<include name="googleSearch3"></include> </methods> </class> -->
		</classes>
	</test> <!-- Test1 -->
</suite> <!-- Suite1 -->